.footer-feedback {
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 80%;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.footer-feedback__form {
  position: relative;
}

.footer-feedback__form input {
  font-family: 'Poppins', 'Arial', sans-serif;
  background-color: #000000;
  border: none;
  outline: none;
  max-width: 350px;
  height: 30px;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;

  &:focus {
    & + label {
      opacity: 0;
    }
  }

  @media (max-width: $mobile-width) {
    width: 79px;
  }
}

.footer-feedback__form label {
  font-family: 'Poppins', 'Arial', sans-serif;
  position: absolute;
  top: 6px;
  left: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;

  @media (max-width: $mobile-width) {
    left: -5px;
  }
}

/* .footer-feedback__block {
  @media (max-width: $mobile-width) {
    width: 290px;
  }
} */

.footer-feedback__block h2 {
  font-family: 'CormorantGaramond', 'Georgia', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-left: -1px;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    width: 210px;
  }
}

.footer-feedback__block p {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #9B9997;
  margin-top: 10px;
  margin-left: 3px;

  @media (max-width: $mobile-width) {
    width: 222px;
    margin-top: 13px;
    margin-left: -2px;
  }
}

.footer-feedback__email {
  position: relative;
  display: flex;
  padding-top: 22px;
  margin-left: 2px;
  max-width: 504px;
  justify-content: space-between;

  &::after {
    position: absolute;
    content: '';
    width: 500px;
    height: 1px;
    background-image: url('../../img/border-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 57px;
    left: 0;

    @media (max-width: $tablet-width) {
      background-repeat: repeat-x;
      width: 560px;
      left: 1px;
    }

    @media (max-width: $mobile-width) {
      width: 290px;
      left: -5px;
    }
  }

  @media (max-width: $tablet-width) {
    max-width: 565px;
  }

  @media (max-width: $mobile-width) {
    width: 295px;
  }
}

.footer-feedback__send {
  margin-left: 44px;
  margin-top: 6px;
  display: flex;

  @media (max-width: $tablet-width) {
    margin-left: 104px;
  }
}

.footer-feedback__link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.footer-feedback__button {
  width: 35px;
  height: 20px;
  background-image: url('../../img/sign-right.svg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-top: -1px;
  cursor: pointer;
}
