.header-promo {
  width: 100%;
  background-image: linear-gradient(rgba(86, 64, 52, 0.7), rgba(86, 64, 52, 0.7)), url('../../img/background-header-desktop.png');
  min-height: 463px;
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: 100% 101%;

  @media (max-width: $tablet-width) {
    background-image: linear-gradient(rgba(86, 64, 52, 0.7), rgba(86, 64, 52, 0.7)), url('../../img/background-header-tablet.jpg');
  }

  @media (max-width: $mobile-width) {
    background-image: linear-gradient(rgba(86, 64, 52, 0.7), rgba(86, 64, 52, 0.7)), url('../../img/background-header-mobile.png');
    background-size: cover;
  }
}

.header-promo--catalog {
  background-image: linear-gradient(rgba(86, 64, 52, 0.7), rgba(86, 64, 52, 0.7)), url('../../img/background-header-catalog.jpg');
  min-height: 261px;
}

.header-promo__block {
  padding-top: 142px;

  @media (max-width: $tablet-width) {
    padding-top: 182px;
    margin-left: -18px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 188px;
    margin-left: 0;
  }
}

.header-promo__block--catalog {
  padding-top: 92px;
}

.header-promo__block h1 {
  font-family: 'CormorantGaramond', 'Georgia', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    font-size: 38px;
  }

  @media (max-width: $mobile-width) {
    letter-spacing: 0.03em;
  }
}

.header-promo__block--catalog h1 {
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.001em;
}

.header-promo__block p {
  font-family: 'CormorantGaramond', 'Georgia', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin-top: -5px;

  @media (max-width: $mobile-width) {
    font-size: 34px;
  }
}

.header-promo__block--catalog p {
  font-size: 22px;
  margin-top: 2px;
}
