.modal-login {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  border-top: 7px solid var(--basik-red);
  width: 430px;
  max-height: 586px;
  background-color: #f0eae4;;
  margin: auto;
  z-index: 10000;

  @media (max-width: $tablet-width) {
    width: 442px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    max-height: 470px;
  }
}

.modal-login--open {
  visibility: visible;
}

.modal-login__header {
  position: relative;
  background-image: url('../../img/background-login.jpg');
  z-index: 11000;
  height: 138px;

  @media (max-width: $mobile-width) {
    height: 84px;
    background-size: 100%;
  }
}

.modal-login__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../../img/modal-close.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  top: 17px;
  right: 17px;

  @media (max-width: $tablet-width) {
    background-size: 100%;
    top: 20px;
    right: 20px;
  }

  @media (max-width: $mobile-width) {
    top: 12px;
    right: 12px;
    background-size: 70%;
  }
}

.modal-login__close--login {
  display: none;
}

.modal-login h2 {
  font-family: 'CormorantGaramond', 'Georgia', serif;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  color: #1D1613;
  margin-top: 50px;

  @media (max-width: $mobile-width) {
    font-size: 24px;
    margin-top: 37px;
  }
}

.modal-login__form {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
  padding-top: 2px;

  @media (max-width: $mobile-width) {
    width: 240px;
    padding-top: 5px;
  }
}

.modal-login__block {
  position: relative;
}

.modal-login__block--email {
  margin-bottom: 32px;

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.modal-login__block label {
  position: absolute;
  top: 4px;
  left: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;
}

.modal-login__block input {
  width: 340px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #1D1613;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;
  background-color: transparent;
  outline: none;

  @media (max-width: $mobile-width) {
    width: 237px;
  }
}

.modal-login__link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #9B9997;
  align-self: flex-end;
  margin-top: 5px;
}

.modal-login__button {
  width: 340px;
  height: 68px;
  border: none;
  outline: none;
  background-color: #A87B62;
  border: 1px solid #A87B62;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 45px;

  @media (max-width: $mobile-width) {
    width: 240px;
    margin-top: 35px;
  }
}

.modal-login__sign {
  display: flex;
  margin-left: 53px;

  @media (max-width: $mobile-width) {
    margin-left: 8px;
  }
}

.modal-login__sign p {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;
}

.modal-login__sign-link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1D1613;
  margin-left: 8px;
  margin-top: 15px;

  @media (max-width: $mobile-width) {
    margin-left: 5px;
  }
}

.modal-login--none {
  display: none;
}

.modal-login--nojs {
  visibility: visible;
}
