.navigation {
  min-height: 146px;
  /* overflow-y: auto; */

  @media (max-width: $tablet-width) {
    min-height: 96px;
  }

  @media (max-width: $mobile-width) {
    min-height: 72px;
  }
}

.navigation--overflow {
  overflow-y: scroll;
}

.navigation--catalog {
  min-height: 146px;

  @media (max-width: $tablet-width) {
    min-height: 96px;
  }

  @media (max-width: $mobile-width) {
    min-height: 72px;
  }
}

.navigation__user-block {
  display: flex;
  justify-content: space-between;
  width: 86vw;
  margin: 0 auto;
  margin-top: 30px;

  @media (max-width: $tablet-width) {
    width: 88vw;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
  }
}

.navigation__user-block--mobile {
  flex-wrap: wrap;
}

.navigation__link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.navigation__list {
  display: flex;
  width: 528px;
  margin: 0 auto;
  padding-left: 46px;
  padding-top: 34px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.navigation__menu--mobile {
  width: 100vw;
  height: 100vw;
  background-color: #A87B62;
  overflow-y: scroll;
  z-index: 13000;
}

.navigation__menu--mobile ul {
  display: block;
  width: 94vw;
  margin: 0 auto;
  padding-left: 46px;
  margin-top: 12px;
  height: 50vw;
  overflow-y: scroll;
}

.navigation__link--mobile {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.navigation__logo {
  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }
}

.navigation__logo--tablet {
  filter: brightness(3);
}

.navigation__logo-link {
  margin-left: 2px;

  @media (max-width: $tablet-width) {
    margin-left: -5px;
  }
}

.navigation__item {
  margin-right: 35px;
}

.navigation__menu--mobile li {
  margin-bottom: 21px;
}

.navigation__next {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}


.navigation__next--contact {
  margin-bottom: 30px;
}

.navigation__mobile-link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-left: 2px;
}

.navigation__next--modify {
  margin-top: 39px;
}

.navigation__next {
  margin-bottom: 21px;
}

.navigation__next--contact {
  margin-bottom: 43px;
}

.navigation__next__link {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.75);
}

.navigation__user {
  display: flex;
  width: 176px;
  justify-content: flex-end;
  margin-right: 3px;
  margin-top: 12px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.navigation__button {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url('../../img/gamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
    margin-top: 20px;
    margin-left: -1px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 13px;
    margin-left: -4px;
  }
}

.navigation__button--tablet {
  background-image: url('../../img/gamgurger-white.svg');
  background-color: #A87B62;
}

.navigation__button-login {
  display: none;
  width: 20px;
  height: 18px;
  background-image: url('../../img/logkart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: block;
    margin-top: 24px;
    margin-right: -2px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 17px;
    margin-right: -5px;
  }
}

.navigation__button-login--tablet {
  background-color: #A87B62;
  background-image: url('../../img/cart-white.svg');
}

.navigation__search {
  position: relative;
  margin-top: 12px;

  &::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('../../img/icon-search.svg');
    top: 3px;
    left: 2px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.navigation__search label {
  position: absolute;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B9997;
  top: 0;
  left: 32px;
}

.navigation__search input {
  border: none;
  outline: none;
  padding-left: 32px;
  width: 176px;
}

.navigation__search--mobile {
  @media (max-width: $tablet-width) {
    display: block;
    order: 1;
    width: 88vw;
    margin: 0 auto;
    margin-top: 36px;
  }

  &::before {
    background-image: url('../../img/search-white.svg');

    top: 13px;
    left: 12px;
  }
}

.navigation__search--mobile input {
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 21px;
    width: 88vw;
    height: 40px;
}

.navigation__search--mobile label {
  display: none;
}

.navigation__login {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-right: 35px;
}

.navigation__blockcart a, span {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.navigation__cart {
  margin-right: 2px;
}
