@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local("Poppins"),
    local("POPPINS"),
    url("/fonts/poppins-medium.woff2") format("woff2"),
    url("/fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-family: "CormorantGaramond";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("CormorantGaramond-bold"),
    local("CORMORANTGARAMOND-BOLD"),
    url("/fonts/CormorantGaramond-Bold.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-Bold.woff") format("woff");
}

@font-face {
  font-family: "CormorantGaramond";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local("CormorantGaramond-italic"),
    local("CORMORANTGARAMOND-ITALIC"),
    url("/fonts/CormorantGaramond-Italic.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-Italic.woff") format("woff");
}
